h1,h2,h3,select,label,.webDemos a {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    margin: auto;
    text-align: center;
    margin-top: 5px;
    display: block;

    
}

.bg_particles {    
    background-color: rgb(231, 255, 255);
    opacity: 0.4;
    
    
}

body {/* 
    background-image: url("https://cdn.pixabay.com/photo/2017/12/28/15/06/background-3045402_960_720.png"); 
    background-repeat: no-repeat;*/

    background-color: rgb(231, 255, 255);
}


/**************/




.buttons {
    margin-top: 61px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    width: fit-content;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin-top: 61px;
    align: center;
}

.button {
    display: inline-block;
    padding: 15px 28px 13px 28px;
    color: #fff;
    background-color: #2A2F34;
    border-radius: 5px;
    text-align: left;
    transition: background-color 200ms linear;
}

.button .button__icon {
    float: left;
    width: 33px;
    height: 33px;
    margin-right: 15px;
}

.button .button__icon {
    background: url('http://marcbruederlin.github.io/particles.js/img/github.svg') no-repeat transparent;
}

.button .button__text {
    float: left;
    position: relative;
    top: 1px;
}

.button .button__action {
    display: block;
    margin-bottom: -4px;
    font-weight: 900;
    font-size: 9px;
    letter-spacing: 0.57px;
    text-transform: uppercase;
}

.button .button__kind {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 0.8px;
}

.button.button--secondary {
    background-color: #587798;
}

.header .header__introduction .buttons {
    margin-top: 61px;
}